#scrollbar {
  width:500px;
  height:16px;
  background:#eee;
  margin:50px auto 0;
  border-radius:8px;
  position:relative;
}
#bar {
  width:50px;
  height:16px;
  background:#1890ff;
  border-radius:8px;
  position:absolute;
  left:0;
  top:0;
  cursor: move;
}
#article {
  width:500px;
  height:300px;
  border:1px #ddd solid;
  margin:30px auto 0;
  border-radius:10px;
  overflow:auto;
  position:relative;
}
#paragraph {
  position:absolute;
}
#paragraph p {
  text-indent:1em;
  margin:10px;
  color:#666;
  font-size:14px;
}

