i{
  font-style: normal;
}
.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #010233;
  overflow: hidden;
}
.timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.timeline_title {
  position: relative;
  padding: 30px 0 15px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  animation: on_tl_title .5s 1.4s linear both;
}
.timeline_title span{
  display: block;
  font-size: 18px;
  line-height: 25px;
}
.timeline_title span:after{
  content: "";
  position: absolute;
  width: 46px;
  height: 1px;
  background: #ff0000;
  bottom: 0;
  left: 50%;
  margin-left: -23px;
  animation: on_tl_line .5s 2s linear both;
}
.timeline_icon{
  position: relative;
  width: 51px;
  height: 51px;
  margin: 18px auto 0;
  background: transparent url("../../images/icon_01.png") no-repeat;
  background-position: center;
  background-size: 30px 26px;
  animation: on_tl_icon 1.2s .5s linear both;
}
.timeline_icon svg {
  width: 51px;
  height: 51px;
  stroke: #0084ff;
  stroke-width: 2px;
  fill: none;
  stroke-dasharray: 320;
  animation: iconsvg .5s .9s linear both;
}
.timeline_list {
  position: relative;
  bottom: 0;
  width: 500px;
  height: 720px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
}
.timeline_line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #0084ff;
  top: 0;
  left: 50%;
  animation: on_item_line 1.2s 2.5s linear both;
}
.timeline_item {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 9;
  animation: on_tl_item .45s ease both;
}
.timeline_item:nth-child(1) {
  animation-delay: 2.3s;
}
.timeline_item:nth-child(2) {
  animation-delay: 2.3s;
}
.timeline_item:nth-child(3) {
  animation-delay: 2.5s;
}
.timeline_item:nth-child(4) {
  animation-delay: 2.7s;
}
.timeline_item:nth-child(5) {
  animation-delay: 2.9s;
}
.timeline_item:nth-child(6) {
  animation-delay: 3.1s;
}
.timeline_item:nth-child(7) {
  animation-delay: 3.3s;
}
.timeline_item:nth-child(8) {
  animation-delay: 3.5s;
}
.timeline_item:nth-child(9) {
  animation-delay: 3.7s;
}
.timeline_item b {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 0 8px #0084ff;
}
.timeline_item_sp b {
  background: #0084ff;
  box-shadow: none;
}
.timeline_item_cnt {
  flex: 1;
  padding: 0 50px;
  height: 32px;
  line-height: 32px;
}
.timeline_item_cnt:nth-child(1){
  text-align:right;
};
.timeline_item_cnt:nth-child(2){
  text-align:left;
};
.timeline_item_cnt.flag{
  width: 55px;
  height: 36px;
  vertical-align: middle;
}
.timeline_item_cnt.time{
  font-size: 20px;
}
.timeline_item_cnt.flag i{
  display: inline-block;
  width: 55px;
  height: 32px;
  background-size: 100%;
}
.timeline_item_cnt.country{
  font-size: 20px;
  color: #66b5ff;
}
.timeline_item_cnt.city{
  font-size: 26px;
}
.timeline_line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #0084ff;
  top: 0;
  left: 50%;
  animation: 
}
.flag_sin{
  background: transparent url("../../images/icon_02.png") no-repeat;
}
.flag_us{
  background: transparent url("../../images/icon_03.png") no-repeat;
}
.flag_uk{
  background: transparent url("../../images/icon_04.png") no-repeat;
}

@keyframes iconsvg {
  0% {
    stroke-dashoffset: 320;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes on_tl_title {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes on_tl_icon {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  66.6% {
    transform: translateY(400px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes on_tl_line {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes on_tl_item {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes on_item_line {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}